
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<p><del>#1 Profilim Kısmı Yok</del></p>
<p><del>#2 Tüm Paşlıklarda paging yap</del></p>
<p><del>#3 Mesajlarda Session</del></p>
<p><del>#4 Oturum Yönetimini Mimariye Taşı</del></p>
